  <ion-popover-view class="main-menu">
    <ion-content>
          <div class="list">
            <a class="main-menu-item" href="http://learn.ionicframework.com/" target="_blank">
              Menu 1
            </a>
            <a class="main-menu-item" href="http://learn.ionicframework.com/" target="_blank">
              Menu 2
            </a>
            <a class="main-menu-item" href="http://learn.ionicframework.com/" target="_blank">
              Menu 3
            </a>
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Menu 4
            </a>
           </div>
    </ion-content>
  </ion-popover-view>